@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<button @onclick="@LogUsername">Write user info to console</button>
<p>@message</p>

@code {
    private string message { get; set; } = "None";

    private async Task LogUsername()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            message = $"{user.Identity.Name} is authenticated.";
        }
        else
        {
            message = "The user is NOT authenticated.";
        }
    }
}